html,
body,
#__next {
  height: 100%;
}

body {
  font-family: 'Graphik Arabic Web Light';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
